.register__container{
    margin-top: 7rem;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.register__container h1{
    margin-bottom: 1.2rem;
}

a{
    transition: var(--transition);
}
a:hover{
    color: var(--color-primary);
    text-decoration:underline ;
    display: inline;
}
@media screen and (max-width:600px) {
    .register__container{
        width: 100%;
        padding: 0.3rem;
    }
}

